@import "./templ.css";
@import "./confirmation_post.css";

.middle__side__wrapper{
    max-width: 640px;
    margin: 0 auto;
}

.middle__side-title{
    margin-top: 40px;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 19px;
    color: #669885;
    font-family: Montserrat, Times, serif;
}

.middle__side-span{
    font-size: 16px;
    line-height: 19px;
    color: #669885;
    font-family: MontserratBold, Times, serif;
}

.middle__side__myprofile{
    box-shadow: 0px 3px 6px #00000029;
    height: 271px;
    width: 640px;
}

.myprofile-buttons{
    display: flex;
    justify-content: space-between;
}

.button-myprofile, .button-activities{
    height: 34px;
    width: 320px;
    text-align: center;
    justify-content: center;
    padding-top: 8px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: MontserratBold, Times, serif;
    background-color: #84B6A3;
}

.button-myprofile{

}

.button-activities{
    opacity: 36%;
}
.myprofile{
    position: relative;
}
.myprofile-title{
    font-size: 16px;
    line-height: 19px;
    color: #84B6A3;
    font-family: MontserratSemiBold, Times, serif;
    margin-left: 96px;
    margin-top: 40px;
}


.myprofile-title-img{
    position: absolute;
    top: -10px;
    left: 20px;
}

.myprofile:before{
    content: url('../images/pen-solid.svg');
    position: absolute;
    height: 10px;
    width: 10px;
    top: -2px;
    left: 200px;
}

.myprofile-info{
    margin-top: 20px;
    margin-left: 96px;
    position: relative;
}

.myprofile-info label{
    color: #393939;
    font-family: MontserratMedium, Times, serif;
    font-size: 12px;
    line-height: 18px;
}

.myprofile-info input{
    display: block;
    outline: none;
    padding-top: 5px;
    border: none;
    border-bottom: 1px solid #84B6A3;
    width: 318px;
    height: 36px;
    color: #393939;
    font-family: MontserratMedium, Times, serif;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 0;
}

.label-email{
    position: absolute;
    top: 20px;
    left: -50px
}

.label-phone{
    position: absolute;
    top: 57px;
    left: -55px
}

.label-fb{
    position: absolute;
    top: 93px;
    left: -57px
}

.myprofile__buttons button{
    margin-top: 40px;
}

.myprofile__buttons-cancel{
    display: inline-block;
    margin-left: 370px;
    height: 34px;
    width: 105px;
    color: #84B6A3;
    font-family: "MontserratMedium", Times, serif;
    font-size: 12px;
    line-height: 15px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #8DBFAC;
    text-align: center;
    padding-top: 1px;
    outline: none;
}

.myprofile__buttons-cancel:hover, .myprofile__buttons-save:hover{
    border: 1px solid #393939;
}

.myprofile__buttons-save{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 148px;
    height: 34px;
    color: #FFFFFF;
    font-family: "MontserratMedium", Times, serif;
    font-size: 12px;
    line-height: 15px;
    background-color: #84B6A3;
    border-radius: 20px;
    border: 1px solid #8DBFAC;
    text-align: center;
    padding-top: 1px;
    padding-left: 25px;
    outline: none;
}

.myprofile__buttons-save:before{
    content: url('../images/save-solid.svg');
    position: absolute;
    height: 16px;
    width: 14px;
    top: 8px;
    left: 16px;
}