@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url(../fonts/Montserrat-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: local('MontserratSemiBold'), url(../fonts/Montserrat-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'MontserratMedium';
    src: local('MontserratMedium'), url(../fonts/Montserrat-Medium.ttf) format('truetype');
}

*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 1366px;
    margin: 0 auto;
}

.header__container{
    max-width: 1066px;
    height: 70px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header-logo{
    padding-top: 20px;
}

.footer__main{
    display: flex;
    justify-content: space-between;
    height: 898px;
    /*background-color: red;*/
}

.left__side{
    max-width: 307px;
    width: 100%;
    background-color: #84B6A3;
}

.middle__side{
    max-width: 680px;
    width: 100%;
    background-color: #FFFFFF;
    border-top: 2px solid #00000029;

}

.right__side{
    max-width: 374px;
    width: 100%;
    background-color: #84B6A3;

}

.menu-ul{
    margin-left: 184px;
    margin-top: 30px;
}

.menu-ul a{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: "MontserratMedium", Times, serif;
    text-decoration: none;
}

.menu-ul li{
    padding-top: 12px;
}

.menu-ul-li-1, .menu-ul-li-2, .menu-ul-li-3,
.menu-ul-li-4, .menu-ul-li-5{
    position: relative;
}

.menu-ul-li-1:before{
    content: url('../images/found_foot.png');
    position: absolute;
    top: 13px;
    left: -30px;
}

.menu-ul-li-2:before{
    content: url('../images/lost.png');
    position: absolute;
    top: 13px;
    left: -30px;
}

.menu-ul-li-3:before{
    content: url('../images/found_foot.png');
    position: absolute;
    top: 13px;
    left: -30px;
}

.menu-ul-li-4:before{
    content: url('../images/lost.png');
    position: absolute;
    top: 13px;
    left: -30px;
}

.menu-ul-li-5:before{
    content: url('../images/found_foot.png');
    position: absolute;
    top: 13px;
    left: -30px;
}

.anna_smith-logout{
    margin-left: 158px;
    margin-top: 130px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
    margin-right: 15px;
}

.anna_smith a{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: "MontserratMedium", Times, serif;
    text-decoration: none;
}

.anna_smith{
    margin-left: 18px;
    position: relative;
}

.anna_smith:before{
    content: url('../images/3b0045c9cc47b640ddcb43d6d06d1379.png');
    position: absolute;
    top: 2px;
    left: -50px;
}


.logout a{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    font-family: "MontserratMedium", Times, serif;
    text-decoration: none;
}


.logout{
    margin-top: 54px;
    margin-left: 18px;
    position: relative;
}

.logout:before{
    content: url('../images/lost.png');
    position: absolute;
    top: 2px;
    left: -25px;
}